In [0]:
import pandas as pd
import sqlite3
# import sqlite3_helper as sql_help

In [2]:
# If in Colab, you Might Need:
!wget https://github.com/mikedcurry/CS_320/raw/master/northwind_small.sqlite3

# possibly needed: raw=true

--2019-09-13 15:07:08--  https://github.com/mikedcurry/CS_320/raw/master/northwind_small.sqlite3
Resolving github.com (github.com)... 192.30.255.112
Connecting to github.com (github.com)|192.30.255.112|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/mikedcurry/CS_320/master/northwind_small.sqlite3 [following]
--2019-09-13 15:07:08--  https://raw.githubusercontent.com/mikedcurry/CS_320/master/northwind_small.sqlite3
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 290816 (284K) [application/octet-stream]
Saving to: ‘northwind_small.sqlite3’

northwind_small.sql 100%[===================>] 284.00K  --.-KB/s    in 0.03s

2019-09-13 15:07:08 (9.34 MB/s) - ‘northwind_small.sqlite3’ saved [290816/290816]

In [0]:
# 1st connect to db / sqlite3 file
conn = sqlite3.connect("northwind_small.sqlite3")

In [0]:
# Create Cursor
c = conn.cursor()

## Part 1

In [0]:
# Open a connection to a new (blank) database file demo_data.sqlite3
conn_p1 = sqlite3.connect('demo_data.sqlite3')

In [0]:
# Make a cursor
c_p1 = conn_p1.cursor()

In [8]:
# execute an appropriate CREATE TABLE statement to accept the above data (name the table demo)

c_p1.execute("""
  CREATE TABLE demo (
    s TEXT,
    x INT,
    y INT
  );
""")

In [11]:
# Write and execute appropriate INSERT INTO statements to add the data (as shown above) to the database

c_p1.execute ("""
  INSERT INTO demo (s, x, y)
  VALUES 
    ('v', 5, 9),
    ('g', 3, 9),
    ('f', 8, 7)
  ;
""")

In [12]:
# Verify success
check = c_p1.execute('SELECT * FROM demo;').fetchall()
print(check)

[('v', 5, 9), ('g', 3, 9), ('f', 8, 7)]

In [15]:
# Count how many rows you have - it should be 3!
c_p1.execute('SELECT COUNT (*) FROM demo').fetchone()[0]

3

In [18]:
# How many rows are there where both x and y are at least 5?
c_p1.execute("""SELECT COUNT (*)
                FROM demo
                WHERE x > 5
                AND y > 5
             """).fetchall()[0][0]

1

In [21]:
# How many unique values of y are there (hint - COUNT() can accept a keyword DISTINCT)?
c_p1.execute("""SELECT COUNT (DISTINCT y)
                FROM demo;
             """).fetchone()[0]

2

In [0]:
# Close, Commit, Move on
c_p1.close()
c_p1.commit()

## Part 2

In [23]:
# Inspect Table Names:
c.execute("SELECT name FROM sqlite_master WHERE type='table' ORDER BY name;").fetchall()

[('Category',),
 ('Customer',),
 ('CustomerCustomerDemo',),
 ('CustomerDemographic',),
 ('Employee',),
 ('EmployeeTerritory',),
 ('Order',),
 ('OrderDetail',),
 ('Product',),
 ('Region',),
 ('Shipper',),
 ('Supplier',),
 ('Territory',)]

In [25]:
# What are the ten most expensive items (per unit price) in the database?

c.execute("""SELECT ProductName, UnitPrice
             FROM Product
             ORDER BY UnitPrice DESC
             LIMIT 10;              
          """).fetchall()

[('Côte de Blaye', 263.5),
 ('Thüringer Rostbratwurst', 123.79),
 ('Mishi Kobe Niku', 97),
 ("Sir Rodney's Marmalade", 81),
 ('Carnarvon Tigers', 62.5),
 ('Raclette Courdavault', 55),
 ('Manjimup Dried Apples', 53),
 ('Tarte au sucre', 49.3),
 ('Ipoh Coffee', 46),
 ('Rössle Sauerkraut', 45.6)]

In [26]:
c.execute('SELECT BirthDate FROM Employee LIMIT 2;').fetchall()

[('1980-12-08',), ('1984-02-19',)]

In [29]:
# What is the average age of an employee at the time of their hiring? 
#   (Hint: a lot of arithmetic works with dates.)

c.execute("""SELECT AVG(2019-09-13 - BirthDate)
             FROM Employee
          """).fetchone()[0]

# Someone ought to call in about all this child labor...

9.222222222222221

In [0]:
# Maybe come back and figure out why date subtraction looks whack...

## Part 3

In [44]:
# What are the ten most expensive items in the database and their suppliers?

c.execute("""SELECT spl.CompanyName, prd.ProductName, prd.UnitPrice
             FROM Product AS prd,
                  Supplier AS spl
             WHERE prd.SupplierID = spl.Id
             ORDER BY prd.UnitPrice DESC
             LIMIT 10;
          """).fetchall()

# Mah ha ha! No use of the JOIN function...

[('Aux joyeux ecclésiastiques', 'Côte de Blaye', 263.5),
 ('Plutzer Lebensmittelgroßmärkte AG', 'Thüringer Rostbratwurst', 123.79),
 ('Tokyo Traders', 'Mishi Kobe Niku', 97),
 ('Specialty Biscuits, Ltd.', "Sir Rodney's Marmalade", 81),
 ('Pavlova, Ltd.', 'Carnarvon Tigers', 62.5),
 ('Gai pâturage', 'Raclette Courdavault', 55),
 ("G'day, Mate", 'Manjimup Dried Apples', 53),
 ("Forêts d'érables", 'Tarte au sucre', 49.3),
 ('Leka Trading', 'Ipoh Coffee', 46),
 ('Plutzer Lebensmittelgroßmärkte AG', 'Rössle Sauerkraut', 45.6)]

In [0]:
# c.execute("""SELECT spl.CompanyName, prd.ProductName, prd.UnitPrice
#              FROM Supplier AS spl
#              INNER JOIN Product AS prd
#              ON spl.SupplierID = prd.Id
#              ORDER BY prd.UnitPrice DESC
#              LIMIT 10;
#           """).fetchall()

In [42]:
# Sample
c.execute('SELECT * FROM Supplier').fetchall()[-1]

(29,
 "Forêts d'érables",
 'Chantal Goulet',
 'Accounting Manager',
 '148 rue Chasseur',
 'Ste-Hyacinthe',
 'North America',
 'J2S 7S8',
 'Canada',
 '(514) 555-2955',
 '(514) 555-2921',
 None)

In [43]:
# Oh Crap, forgot about this...
c.execute('SELECT sql FROM sqlite_master WHERE name="Supplier";').fetchall()
# Oh man! I read about that stupid Id vs SupplierID things and forgot. Ugh.

[('CREATE TABLE "Supplier" \n(\n  "Id" INTEGER PRIMARY KEY, \n  "CompanyName" VARCHAR(8000) NULL, \n  "ContactName" VARCHAR(8000) NULL, \n  "ContactTitle" VARCHAR(8000) NULL, \n  "Address" VARCHAR(8000) NULL, \n  "City" VARCHAR(8000) NULL, \n  "Region" VARCHAR(8000) NULL, \n  "PostalCode" VARCHAR(8000) NULL, \n  "Country" VARCHAR(8000) NULL, \n  "Phone" VARCHAR(8000) NULL, \n  "Fax" VARCHAR(8000) NULL, \n  "HomePage" VARCHAR(8000) NULL \n)',)]

In [46]:
c.execute('SELECT sql FROM sqlite_master WHERE name="Order";').fetchall()

[('CREATE TABLE "Product" \n(\n  "Id" INTEGER PRIMARY KEY, \n  "ProductName" VARCHAR(8000) NULL, \n  "SupplierId" INTEGER NOT NULL, \n  "CategoryId" INTEGER NOT NULL, \n  "QuantityPerUnit" VARCHAR(8000) NULL, \n  "UnitPrice" DECIMAL NOT NULL, \n  "UnitsInStock" INTEGER NOT NULL, \n  "UnitsOnOrder" INTEGER NOT NULL, \n  "ReorderLevel" INTEGER NOT NULL, \n  "Discontinued" INTEGER NOT NULL \n)',)]

In [49]:
# What is the largest category (by number of unique products in it)?

c.execute("""SELECT cat.CategoryName, prd.Id, COUNT(*)
             FROM Product AS prd,
                  Category AS cat
             GROUP BY cat.CategoryName   
             ORDER BY COUNT (*) DESC
             LIMIT 1;
          """).fetchone()

('Beverages', 77, 77)

In [51]:
# Hmm... I think I trust the Inner Join for this one...

c.execute("""SELECT cat.CategoryName, prd.Id, COUNT(*)
             FROM Product AS prd
             INNER JOIN Category AS cat
             ON prd.CategoryID = cat.Id
             GROUP BY cat.CategoryName   
             ORDER BY COUNT (*) DESC
             LIMIT 1;
          """).fetchone()

('Confections', 68, 13)